<%= javascript_pack_tag 'addressSelectors.js' %>
<%= bootstrap_form_with(model: denounce, layout: :horizontal, label_col: "col-12", control_col: "col-12", inline_errors: true) do |form| %>
<div class="card-body mx-4 my-4">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h3>Denounce Information</h3>
      <%= form.datetime_select :event_date %>
      <%= form.select :area, Denounce.areas.keys %>
      <%= form.text_field :title %>
      <%= form.text_field :description %>
      <%= form.check_box :anonymouse, label: "Make it anonymous" %>
    </div>

    <div class="col-12 col-lg-6">
      <h3>Address</h3>
      <%= form.fields_for :address, @address do |form_field| %>
      <div class="row">
        <div class="col-lg-6"><%= form_field.text_field :street, label: "Street" %></div>
        <div class="col-lg-4"><%= form_field.text_field :number, label: "Number" %></div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <%= form_field.select :state,
                    options_for_state_select,
                    { include_blank: true },
                    { class: "statesSelector", required: true }
                  %>
        </div>
        <div class="col-lg-5">
          <%= form_field.select :municipality,
                    options_for_municipality_select(@denounce.address),
                    id: :municipality,
                    required:true
                  %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <%= form_field.select :settlement, options_for_settlement_select(@denounce.address), { required: true } %>
        </div>
        <div class="col-lg-5">
          <%= form_field.text_field :postal_code, label: "Postal Code",  id: "postalCodeInput"%>
        </div>
        <div class="col-lg-10 overflow-scroll" style="height: 260px">
          <div class="field">
            <%= form.file_field :medias, { multiple: true } %>
            <p class="upload-tag">Only files .pdf .jpg .jpeg .png and 10 Mb limit</p>
             <% @denounce.medias.each do |media| %>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 d-flex justify-content-center my-2">
                      <%= render_attachment(media, 'img-size') %>
                    </div>
                    <div class="col-md-7 col-sm-12 d-flex justify-content-center my-2" >
                      <span id ="name-photo"> <%= media.filename %> </span>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center my-sm-2">
<<<<<<< HEAD
                      <%= link_to evidence_path(media_id: media), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link text-danger", title: "Delete", "data-bs-toggle"=> :tooltip  do %>
=======
                      <%= link_to evidence_url(media_id: media), method: :delete, data: { confirm: 'Are you sure?' },
                       class:"btn btn-link text-danger", title: "Delete", "data-bs-toggle"=> :tooltip  do %>
>>>>>>> Add system test for destroy evidence:
                      <i class="bi bi-trash"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="row">
    <div class="col-5 justify-content-start">
      <%= link_to 'Back', denounces_path, class: "btn btn-dark" %>
    </div>
    <div class="col-6 justify-content-start ms-xs-0 ms-sm-2 ms-lg-4">
      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
