<div class="row justify-content-center mt-5">
  <div class="col-xs-12 col-lg-10">
    <div class="card border-primary">
      <div class="card-body">
        <div class="row d-flex align-items-center">
          <div class="col-xs-10 col-lg-6">
            <form class="row d-flex justify-content-center">
              <div class="col-xs-3 col-sm-6">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </div>
              <div class="col-xs-6 col-sm-5">
                <button class="btn btn-secondary my-xs-2" type="submit"><i class="bi bi-search mt-xs-2">  Search</i></button>
              </div>
            </form>
          </div>
          <div class="col-xs-12 col-lg-6 d-flex justify-content-xs-center justify-content-lg-end">
            <%= link_to new_denounce_path, class: "btn btn-outline-primary my-2" do %>
              <i class="bi bi-plus-circle">  Add new Denounce</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 my-4">
    <h2 class="text-center">My Denounces</h2>
    <hr class="my-4">
    <div class="row">
      <div class="col align-items-center my-5">
        <%=  render partial:'partials/empty' if @denounces.length <= 0 %>
      </div>
      <div class="accordion my-5" id="accordionDenounces">
        <% @denounces.each do |denounce| %>
          <div class="col-xs-12">
            <div class="accordion-item" >
              <div class="accordion-header" id=<%= "denouncesHeading-#{denounce.id}"%>>
                <div class="row px-md-4 justify-content-between align-items-lg-center">
                  <div class="col-xs-12 col-lg-3 d-flex justify-content-center">
                    Date: <%= Time.at(denounce.created_at.to_i).to_formatted_s(:long_ordinal) %>
                  </div>
                  <div class="col-xs-12 col-lg-3 d-flex justify-content-center justify-content-lg-start m-lg-0">
                    Title: <%= (denounce.title) ? denounce.title : "empty" %>
                  </div>
                  <div class="col-xs-12 col-lg-3 d-flex justify-content-center justify-content-lg-end">
                    <div class="row">
                      <div class="col m-lg-0 p-lg-0">
                        <%= link_to denounce_path(denounce), class: "btn btn-link" , title: "Show" , "data-bs-toggle"=> :tooltip do %>
                          <i class="bi bi-eye"></i>
                        <% end %>
                      </div>
                      <div class="col m-lg-0 p-lg-0">
                        <%= link_to edit_denounce_path(denounce), class: "btn", title: "Edit" , "data-bs-toggle"=> :tooltip do %>
                          <i class="bi bi-pencil"></i>
                        <% end %>
                      </div>
                      <div class="col m-lg-0 p-lg-0">
                        <%= link_to denounce_path(denounce), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link text-danger", title: "Delete", "data-bs-toggle"=> :tooltip  do %>
                          <i class="bi bi-trash"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-lg-1 d-flex justify-content-center">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target=<%= "#collapse-#{denounce.id}" %> aria-expanded="false" aria-controls=<%= "collapse-#{denounce.id}" %> title="Display">
                      <i class="bi bi-arrow-down-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div id=<%= "collapse-#{denounce.id}" %> class="accordion-collapse collapse" aria-labelledby=<%= "denouncesHeading-#{denounce.id}" %> data-parent="#accordionDenounces">
                <hr class="my-2">
                <div class="accordion-body">
                  <div class="row align-items-xs-start px-lg-1 px-xl-5">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 my-1">
                          Description: <%= denounce.description %>
                        </div>
                        <div class="col-xs-12 my-1">
                          Area:<span class="badge rounded-pill bg-info text-dark">
                            <%= denounce.area %>
                          </span>
                        </div>
                        <div class="col-xs-12 my-1">
                          is anonymouse?: <%= (denounce.anonymouse) ? "yes" : "Not" %>
                        </div>
                        <div class="col-xs-12 my-1">
                          Event date: <%= denounce.event_date %>
                        </div>
                      </div>
                    </div>
                    <% if denounce.address %>
                      <div class="col-xs-12 col-md-6">
                        <div class="col-xs-12 my-1">
                          <h6>Address:</h6>
                          State: <%= denounce.address.state  %>
                        </div>
                        <div class="col-xs-12 my-1">
                          Municipality: <%= denounce.address.municipality %>
                        </div>
                        <div class="col-xs-12 my-1">
                          Settlement: <%= denounce.address.settlement %>
                        </div>
                        <div class="col-xs-12 my-1">
                          Street & number: <%= denounce.address.street %> # <%= denounce.address.number  %>
                        </div>
                        <div class="col-xs-12 my-1">
                          P.C.: <%=  denounce.address.postal_code %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) unless @denounces.length <= 0%>
</div>