<div class="card m-4 col-lg-10 mx-auto">
  <div class="card-header bg-transparent">
    <h5 class="card-title">
      <%= denounce.anonymouse? ? 'Anonymouse' : denounce.user.username %>
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-horizontal-lg d-flex justify-content-around">
      <li class="list-group-item col-lg-3">
        <h6 class="card-subtitle text-muted pb-5">Title# <%= denounce.title%></h6>
        <h5>Details</h5>
        <hr class="bg-primary">
        <h6>Date & time of succession:<span class="text-muted mx-2"><%= denounce.event_date%></span></h5>
          <h6>Area:</h6><span class="text-muted"><%= denounce.area%></span>
          <h6>Description:</h6><span class="text-muted"></span>
          <p class="card-text text-muted"><%= denounce.description%></p>
      </li>
      <li class="list-group-item col-lg-3">
        <h6 class="card-subtitle text-muted pb-5">Denouncement# <%= denounce.id%></h6>
        <h5>Location</h5>
        <hr class="bg-primary">
        <h6>Street: <span class="text-muted mx-2"><%= denounce.address.street%></span></h6>
        <h6>Number: <span class="text-muted mx-2"><%= denounce.address.number%></span></h6>
        <h6>State: <span class="text-muted mx-2"><%= denounce.address.state%></span></h5>
        <h6>Municipally: <span class="text-muted mx-2"><%= denounce.address.municipality%></span></h6>
        <h6>Settlement: <span class="text-muted mx-2"><%= denounce.address.settlement%></span></h6>
        <h6>Postal code: <span class="text-muted mx-2"><%= denounce.address.postal_code%></span></h6>
      </li>
      <li class="list-group-item col-lg-3">
        <h6 class="card-subtitle text-lg-end text-muted pb-5">Published: <%= denounce.created_at%></h6>
        <h5>Evidence</h5>
        <hr class="bg-primary">
        <%= render partial: 'partials/evidence_carousel', locals: { attachments: denounce.medias } %>
      </li>
    </ul>
    <%= likeable?(denounce) ? like_link_for(denounce) : unlike_link_for(denounce) %>
    <span class="text-muted" id="count-<%=denounce.id%>"><%=denounce.likes.count%></span>
  </div>
</div>
