<div class="row">
  <div class="col-8 order-first">
    <div class="row">
      <div class="col-12">
        <h3>Edit <%= resource_name.to_s.humanize %>
        </h3>
      </div>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do
        |f| %>
        <div class="col-12">
          <%= render "devise/shared/error_messages" , resource: resource %>
          <%= f.text_field :username, autocomplete: "username", label: "Username", autofocus: true%>
        </div>
        <div class="col-12">
          <%= f.text_field :email, autocomplete: "email" , label: "Email" %>
        </div>
        <div class="col-12">
          <%= f.password_field :password, label: "New password", autocomplete: "new-password" ,
            help: "leave blank if you don't want to change it" %>
        </div>
        <div class="col-12">
          <%= f.password_field :password_confirmation, label:"Confirm new password", autocomplete: "new-password" ,
            placeholder: "Confirm same password as above." , help: "#{@minimum_password_length}  characters minimum " %>
        </div>
        <div class="col-12">
          <%= f.password_field :current_password, autocomplete: "current-password" ,
            help: "we need your current password to confirm your changes" %>          
        </div>
        <div class="col-12">
          Not your screen?, Go <%= link_to "Back" , :back %>
        </div>
        <div class="col-12 actions">
          <div class="d-flex flex-row justify-content-between mt-4">
            <%= f.submit "Update profile" , class: "btn btn-primary btn-lg ml-5", method: :put %>
          </div>
        </div>
      <% end %>
    </div>
    <hr/>
    <div class="row mt-5">
      <div class="col-12">
      <h3>Danger Zone</h3>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should be sure you want to be here...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <%= button_to "Cancel my account" , registration_path(resource_name), data: { confirm: "Are you sure?" }, method:
        :delete, :class=> "btn btn-outline-danger mr-5" %>
      </div>
    </div>
  </div>
</div>