<div class="row justify-content-center mt-5">
	<div class="col-4">   
		<div class="card mb-3 shadow " >
      <div class="card-header text-center">
				<h3>Log in</h3>
      </div>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: "col-sm-12", control_col: "col-sm-12", inline_errors: true) do |f| %>
        <div class="card-body mx-5 my-5">
          <%= f.alert_message "Please fix the errors below." %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@gmail.com"%>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
            </div>
          <% end %>
          <div class="my-5 text-center">
            You don't have an account yet? <%= render "devise/shared/links" %>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="actions">
            <%= f.submit "Sign In", class: "btn btn-primary mx-3" %>
          </div>
        </div>
      <% end %>
		</div>
	</div>
</div>
