<!DOCTYPE html>
<html>
  <head>
    <title>DenunciaCiudadana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'partials/user_links' %>
    <%= render partial: 'partials/messages' %>
    <%= yield %>
  </body>
</html>
