<!DOCTYPE html>
<html>
  <head>
    <title>DenunciaCiudadana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Sign out →", destroy_user_session_path, class: "float-end", title: "log-out", 'data-bs-toggle': 'tooltip', method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "float-end", title: "log-in", 'data-bs-toggle': 'tooltip'%>
    <% end %>
    <%= render partial: 'partials/messages' %>
    <%= yield %>
  </body>
</html>
